@{
    ViewData["Title"] = "Contáctenos";
}
<div>
    <h2>Contáctenos</h2>
</div>

<address>
    Nos encanta saber de ti y poderte ayudar<br />
    en lo que necesites. Por favor envíanos<br />
    tus dudas, inquietudes, sugerencias o <br />
    situaciones que pueden mejorar. Pronto<br />
    nos comunicaremos contigo.<br />
    <br />
</address>

<address>
    <strong>Soporte:</strong><br />
    <a href="julio.rovirato@amigo.edu.co">julio.rovirato@amigo.edu.co</a><br />
    <a href="elizabeth.pinedame@amigo.edu.co">elizabeth.pinedame@amigo.edu.co</a>
</address>