@{
    ViewData["Title"] = "Step Page";
}

<h1>Bienvenido al Loading Bar</h1>

<div class="form-horizontal">
    <div class="form-group">
        <label for="Pasos" class="col-md-2 control-label" enable="false">Cual es la cantidad de pasos que debe realizar</label>
        <div class="col-md-2">
            <input form="Pasos" id="Pasos" placeholder="Pasos" name="Pasos" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="Fecha" class="col-md-2 control-label">Ingrese la fecha limite</label>
        <div class="col-md-2">
            <input type="date" for="Fecha" id="Fecha" placeholder="Fecha" style="width:210px" name="Fecha" class="form-control" />
        </div>
    </div>
</div>
<p>
    <a asp-controller="Home" asp-action="Validar" class='btn btn-success'>Aceptar</a>
</p>
